.header {
  display: flex;
  justify-content: space-between;

}

.headerBtn {
  height: 40px;
  align-self: center;
  background-color: black;
  color: white;
  text-decoration: none;
  border: none;
}

.headerBtn:hover {
  background-color: red;
  color: black;
}